<!DOCTYPE html>
<html lang="pt">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <!--Importanto o Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="style.css">
    <!--Importanto o Vue-->
    <script src="vue.js"></script>

    <head>
        <title>Jogo da Memória</title>
    </head>

    <body>
        <div id="app">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="card">
                           
                            <!--Percorrer todas imagens-->
                            <div v-for="img in imagens">
                                <!--Verificando id imagem-->
                                <div v-if="img.id == 1">
                                    <!--Método para identificar a imagem selecionada-->
                                    <a href="#" @click="selecionarImg(img.id)">
                                        <img v-bind:src="img.url" v-bind:class="img.borda" alt=""></a>
                                    <!--título da imagem-->
                                    <p class="card-text ">{{img.titulo}} </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <div v-for="img in imagens">
                                <div v-show="img.id == 2">
                                    <a href="#" @click="selecionarImg(img.id)"> <img v-bind:src="img.url"
                                            class="card-img-top" alt=""></a>
                                    <p class="card-text">{{img.titulo}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <div v-for="img in imagens">
                                <div v-if="img.id == 3">
                                    <a href="#" @click="selecionarImg(img.id)"> <img v-bind:src="img.url"
                                            class="card-img-top" alt=""></a>
                                    <p class="card-text">{{img.titulo}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <div v-for="img in imagens">
                                <div v-if="img.id == 1">
                                    <a href="#" @click="selecionarImg(img.id)"> <img v-bind:src="img.url"
                                            class="card-img-top" alt=""></a>
                                    <p class="card-text">{{img.titulo}}</p>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
    </body>
    <script src="game.js"></script>

</html>