<!DOCTYPE html>
<html lang="pt">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <!--Importanto o Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="style.css">
    <!--Importanto o Vue-->
    <script src="vue.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

    <head>
        <title>Jogo da Memóriaas</title>
    </head>

    <body>
        <div id="app">
            <button @click="SortearImagens()">sortear</button>
           
            <div class="container">
                  
                <div class="row">
                    <div class="col">
                            
                        <div class="card">
                                <div id="sortearimagens">
                                <div class="card-image" v-for="img in imagens" :key="img.id"
                                    v-bind:class="{fundo: img.branco}">
                                    <template v-if="img.branco == true">

                                    </template>
                                    <template v-else>
                                        <a href="#" @click="selecionarImg(img)">
                                        <img :src="'images/' + img.id + '.jpg'">
                                        </a>
                                        <p class="card-text ">{{img.titulo}} </p>

                                    </template>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </body>
    <script src="game.js">
    </script>

</html>